body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
  min-height: 100vh;
  position: relative;
}

.footer-container {
  bottom: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -20px;
}

.footer-container > a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}
