body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
  min-height: 100vh;
  position: relative;
}

.footer-container {
  bottom: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  text-align: center;
  width: 100%;
}

.footer-container > a {
  text-decoration: none;
  font-weight: 600;
  color: #eb5757db;
}
